<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Routing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1 align="center">Random Routing</h1>
      <h5>Welcome to my Random Rounting Module! Enter any number 1 - 50 as a url parameter, for example "/32"</h5>
      <br>
      <h3><a href="/2">For a snowy landscape, click here</a></h3>
      <h3><a href="/12">For a desert landscape, click here</a></h3>
      <h3><a href="/22">For a forest landscape, click here</a></h3>
      <h3><a href="/32">For a vineyard landscape, click here</a></h3>
      <h3><a href="/42">For a tropical landscape, click here</a></h3><br>
    </div>
  </body>
</html>
